.product__display-box {
   display: flex;
   align-items: center;
   gap: 3rem;
   margin: 4rem;
}

@media screen and (max-width: 426px) {
   .product__display-box {
      margin: 1rem;

      display: flex;
      flex-direction: column;
      gap: 0.7rem;
   }
}
