.banner__container {
   align-items: flex-end;
   display: flex;

   background-image: linear-gradient(
         180deg,
         rgba(255, 255, 255, 0),
         rgba(0, 0, 0, 0.6) 80%
      ),
      url("../../../assets/img/banner.png");

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   box-sizing: border-box;
   padding: 2rem;

   width: 100%;
   height: 22rem;
}

@media screen and (max-width: 426px) {
   .banner__container {
      height: 12rem;
      padding: 1rem;
   }
}

@media screen and (min-width: 729px) {
   .banner__container {
      justify-content: center;
   }
}
