.products__text-add {
   display: flex;
   color: var(--grey);
   font-family: var(--Raleway);
   box-sizing: border-box;
   padding: 0.5rem 0.75rem;
   align-items: center;
   border: none;
}
@media screen and (max-width: 768px) {
   .products__text-add {
      font-size: 1rem;

      font-weight: 400;
      line-height: 1.25rem; /* 125% */
   }
}
