.footer__about {
   display: grid;
   grid-template-rows: 1fr 4fr;
   gap: 1rem;
   width: 15.875rem;
}

.footer__about-list {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.footer__about-list-item-link {
   text-decoration: none;
   color: var(--grey);
   font-weight: 500;
}

@media screen and (max-width: 426px) {
   .footer__about {
      justify-items: center;
      height: 16.25rem;
      width: 20.5rem;
   }
   .footer__about-list {
      align-items: center;
      gap: 1rem;
   }
}

@media screen and (min-width: 900px) {
   .footer__about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 7rem;
      width: 29rem;
      height: 18.75rem;
      padding-top: 5rem;
   }
}
