input:focus,
textarea:focus {
   outline: none;
}

.footer__form {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   width: 27.125rem;
   height: 14.3125rem;
}
.footer__form-line {
   color: var(--medium-light-grey);

   position: relative;
   bottom: 0.4375rem;

   margin: 0;
   width: 27.125rem;
}
@media screen and (max-width: 426px) {
   .footer__form {
      justify-items: center;
      height: 14.3125rem;
      width: 20.5rem;
   }
   .footer__form-line {
      width: 20.5rem;
   }
}
