.products__items {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   justify-content: flex-start;
}

@media screen and (max-width: 769px) and (max-width: 1024px) {
   .products__items:nth-child(5),
   .products__items:nth-child(6) {
      display: none;
   }
}
@media screen and (max-width: 1025px) {
   .products__items:nth-child(6) {
      display: none;
   }
}

@media screen and (max-width: 426px) {
   .products__items {
      width: 9.75rem;
   }
}
