.products__box {
   align-items: center;
   display: flex;

   gap: 1rem;
   justify-content: space-evenly;

   width: 44rem;
   height: fit-content;
}

@media screen and (min-width: 900px) {
   .products__box {
      width: fit-content;
   }
}

@media screen and (max-width: 426px) {
   .products__box {
      width: 100%;
      flex-wrap: wrap;
   }
}
