.products__items {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   justify-content: flex-start;
}

@media screen and (max-width: 769px) {
   .products__hidden {
      display: none;
   }
}

@media screen and (max-width: 426px) {
   .products__items {
      width: 9.75rem;
   }
}
