.products__headline {
   align-items: center;
   display: flex;
   justify-content: space-between;

   width: 44rem;
}

@media screen and (min-width: 900px) {
   .products__headline {
      width: 100%;
   }
}
@media screen and (max-width: 426px) {
   .products__headline {
      width: 100%;
   }
}
