.products__title-add {
   color: var(--grey);
   font-family: var(--Raleway);
   font-size: 2rem;

   font-weight: 700;
}

@media screen and (max-width: 768px) {
   .products__title-add {
      font-size: 1.375rem;
   }
}
