.field-text {
   margin: 24px 0;
}

.field-text label {
   display: block;
   margin-bottom: 8px;
   font-size: 24px;
   font-weight: bold;
}

.field-text input {
   background: #fff;
   border: none;
   box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
   box-sizing: border-box;

   font-size: 24px;
   padding: 24px;
   width: 100%;
}

.field-text input:focus {
   outline: none;
}
