.products__title-all {
   color: var(-grey);
   font-weight: bold;
   font-size: 1.375rem;
}

.products__title-all-link {
   color: var(--grey);
   text-decoration: none;
}

@media screen and (max-width: 426px) {
   .products__title-all {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
   }
}
