.products__box {
   align-items: center;
   display: flex;

   gap: 1rem;
   justify-content: space-evenly;

   width: 44rem;
   height: 15.75rem;
}
@media screen and (max-width: 426px) {
   .products__box {
      width: 20.5rem;
      flex-wrap: wrap;
      justify-content: unset;
   }
}
